<a href="https://colab.research.google.com/github/hyebni/CoTe/blob/main/230403.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 주의사항
### 화폐단위가 500,400,100이고 800원을 거슬러 줘야할 때는?
### 그리디로 풀 수 있는 이유 =  큰 단위가 작은단위의 배수여서 가능!
### 항상 해법이 정당한지 고려해야함

In [4]:
#EX 3-1
A = int(input())
C_500 = A//500
C_100 = (A-C_500*500)//100
C_10 = (A-C_500*500-C_100*100)//10

Total = C_500+C_100+C_10
print(Total)

2600
6

In [9]:
# Answer-Using for!!
A = int(input())
Coin = [500,100,10]
total_coin = 0

for i in Coin:
  total_coin += A//int(i)
  A %= i

print(total_coin)

2600
6

In [32]:
#@title 기본 제목 텍스트
from re import I
# 3-2 큰수의 법칙 연속해서 더하기!(pg 92)
N, M, K = map(int, input().split())
data = list(map(int, input().split()))

data.sort(reverse=True)

total = 0
total += (data[0]*K+data[1])*(M//(K+1)) 
i = M%(K+1)
total += data[0]*i 
print(total)

5 8 3
2 4 5 4 6
46

In [39]:
# 3-3 숫자 카드 게임
N, M = map(int, input().split())
minimums =[]
for i in range(N):
  data = list(map(int, input().split()))
  minimums.append(min(data))
  # maximum = max(maximum, min(data))
  
print(max(minimums))

2 4
7 3 1 8
3 3 3 4
3